/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
  font-family: 'Open sans', "Helvetica Neue", sans-serif;
}

body {
  margin: 0;
}


@import "bootstrap";
