
$header-height: 4rem;
$container-top: 5rem;
$app-table-head-top: 1rem;
$app-container-height: calc(100vh - #{$container-top});
$app-body-height: calc(#{$app-container-height} - #{$container-top} - #{$app-table-head-top});
$app-body-top: calc(#{$header-height} + #{$container-top} + #{$app-table-head-top});

header {
  .navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: $header-height;
    padding: 0 1rem;
    background-color: #2C3539FF;
    color: #f5f5f5;
  }
}
.app-container {
  position: relative;
  width: 100vw;
  top: $container-top;
  height: $app-container-height;
  padding: 0 3rem;

  .app-table-head {
    position: sticky;
    top: $app-table-head-top;
    background-color: #2C3539FF;
    color: #f5f5f5;
  }

  .app-table-body {
    top: $app-body-top;
    height: $app-body-height;
    overflow-y: scroll;
  }
}

.app-grid {
  display: grid;
  grid-template-columns: 5rem 15rem 1fr 1fr;
  row-gap: 1rem;
  padding: 1rem 2rem;
  cursor: pointer;
}

.xl-text {
  font-size: 1.5rem;
  text-align: center;
}

.number-of-stops {
  div {
    font-size: 0.6rem;
    padding: 0 1px 0 2px;
  }
}

.stops {
  height: 5rem;
  width: 100%;
  overflow: hidden;
  padding: 0 1.5rem;

  &.expanded {
    height: 15rem;
    overflow-y: scroll;
    cursor: all-scroll;
  }
}

.stopName {
  font-size: 0.6rem;
  word-wrap: normal;
  display: inline-block;
  padding: 0 1px 0 2px;

  &:hover {
    transform: scale(1.4);
    background-color: rgba(255, 255, 255, 1);
  }
}

.app-loadingOrError {
  padding: 1rem 2rem;
}




