<header>
  <nav class="navbar">
    <div class="nav-item xl-text">Busslinjer med flest hållplatser</div>
  </nav>
</header>
<div class="app-container">
  <div class="app-table-head">
    <div class="app-grid">
      <div class="xl-text">Linje</div>
      <div class="xl-text">Antal Hållplatser</div>
      <div class="xl-text">Utresa</div>
      <div class="xl-text">Hemresa</div>
    </div>
  </div>
  <div class="app-table-body" *ngIf="lines$ | async as lines; else loadingOrError">
    <div class="app-grid" (click)="toggleExpanded(i)" *ngFor="let line of lines, index as i">
        <div class="xl-text">{{line.lineNo}}</div>
        <div class="number-of-stops xl-text">
          {{line.outBoundJourney.length + line.inBoundJourney.length}}
          <div>({{line.outBoundJourney.length}} + {{line.inBoundJourney.length}})</div>
        </div>
        <div class="stops" [class.expanded]="expanded[i]">
          <ng-container *ngFor="let outboundStop of line.outBoundJourney">
            <span class="stopName">{{outboundStop.stopPointName}}</span>
          </ng-container>
        </div>
        <div class="stops" [class.expanded]="expanded[i]">
          <ng-container *ngFor="let inboundStop of line.inBoundJourney">
            <span class="stopName">{{inboundStop.stopPointName}}</span>
          </ng-container>
        </div>
    </div>
  </div>
</div>

<ng-template #loadingOrError>
  <div *ngIf="loadingError$ | async; else loading">
    <div class="app-loadingOrError">Det gick inte att hämta busslinjer med flest hållplatser. Var god försök igen senare.</div>
  </div>
  <ng-template #loading>
    <div class="app-loadingOrError">Laddar busslinjer med flest hållplatser...</div>
  </ng-template>
</ng-template>

